- @title = "Ankieta dla polskich pracowników zdalnych z branży IT - Deklaracja zgody na udział w badaniu"

%p Prosimy o uważne zapoznanie się z treścią tego dokumentu dotyczącego prowadzonego przez nas badania oraz o wyrażenie zgody na udział w badaniu.

%ul
  %li
    %div 1. Cel badania
    %p Celem badania jest określenie związku pomiędzy stresem, zaangażowaniem w pracę i satysfakcją zawodową w grupie pracowników zdalnych.
  %li
    %div 2. Przebieg badania
    %p Badanie ma formę ankiety. Ankieta składa się z zestawu ośmiu kwestionariuszy, które należy samodzielnie wypełnić, po uprzednim zapoznaniu się z instrukcją. Pytania ankiety dotyczą występowania stresujących sytuacji w miejscu pracy, zaangażowania w pracę oraz satysfakcji. Proszę pamiętać, że nie ma dobrych ani złych odpowiedzi, ludzie różnią się między sobą, zatem każdy ma prawo do odmiennych odpowiedzi. Czas wypełnienia kwestionariuszy to około 20 minut.
  %li
    %div 3. Anonimowość i dobrowolność
    %p Badania służą wyłącznie celom naukowym, są anonimowe, a udział w nich jest dobrowolny. Prosimy więc o prawdziwe odpowiedzi na pytania, bo tylko takie są dla nas wartościowe. Ankiety nie będą udostępniane nikomu, poza osobami prowadzącymi badanie. Opracowanie wyników nastąpi jedynie w postaci zbiorczej, bez charakteryzowania poszczególnych osób biorących udział w badaniach.
  %li
    %div 4. Pytania
    %p W razie jakichkolwiek pytań prosimy wysłać e-mail do koordynadora badań na adres TODO.

%form
  %input{:type => :checkbox}
  %p Oświadczam, iż przeczytałem/am wszystkie powyższe stwierdzenia i dobrowolnie zgadzam się na uczestnictwo w badaniach.

= link_to('Kontynuuj', new_pss_questionaire_path)
