- @title = "Ankieta dla polskich pracowników zdalnych z branży IT"
%h1
  Ankieta dla polskich pracowników zdalnych z branży IT
%p#description
  Oto ankieta, która bada satysfakcję pracowników zdalnych z branży IT.
  Stworzona jest dla potrzeb pracy magisterskiej.
  Wypełnienie całości zajmie około 10 minut.
= link_to('Kontynuuj', agreement_path)
