- @title = "Ankieta dla polskich pracowników zdalnych z branży IT - Zakończenie ankiety"

%h1 Dziękujemy

%p
  Możesz znaleźć kod źródłowy tej ankiety na:
  = link_to("http://github.com/pr0d1r2/polish_remote_it_worker_survey", "http://github.com/pr0d1r2/polish_remote_it_worker_survey")
